.camera {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: static;
    background-color: red;
 
    flex-direction: column;
}

.camera__one {
    background-color: blueviolet;
    width: 80rem;
    height: 60rem;
    margin: 1rem;
}

.camera__two {
    background-color: blueviolet;
    width: 80rem;
    height: 60rem;
    margin: 1rem;
}