.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: calc($right_side - 3rem);
    height: calc(100vh - $margin*2 - 3rem);
}