.leftside {
    height: 80vh;
    width: 7rem;
    display: flex;
}

.leftside__panel {
    margin: 0.4rem 0.4rem 0.4rem 0.4rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.indicator {
    margin: 0.5rem 0;
    height: auto;
    li {
        margin-bottom: 1rem;
    }
    li:last-child {
        margin-bottom: 0;
    }
}

.view {
    margin: 0.5rem 0;
}