.rightside {
    height: 100vh;
    width: 40rem;
    display: flex;
}

.rightside__task {
    width: 6rem;
    display: flex;
    margin: $margin 0 $margin $margin;;
    border-radius: 0.5rem;
    flex-direction: column;
    display: flex;
    align-items: center;
    li {
        margin: 0.4rem 0 0.4rem 0;
        border-radius: 0.5rem;
    }
    li:hover {
        background-color: $icon-hover;
    }
    li.active {
        background-color: $icon-color;
        -webkit-transition: 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        i {
            color: $icon-nav-toggle;
        }
    }
}

.rightside__detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: $margin;
    border-radius: 0.5rem;
    padding: 1.5rem;
    padding-bottom: 0;
    width: 100%;
    .task_one,
    .task_two,
    .task_three,
    .task_four {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 70vh;
        color: white;
       
    }
}

div[data-view-active="false"] {
    display: none !important;
}