.task {
    display: flex;
    flex-direction: column;
    width: calc($right_side - 3rem);
    height: 60vh;
    color: aliceblue;
}

.task__title {
    font-family: "DM Sans", sans-serif;
    letter-spacing: 0.1rem;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    padding-bottom: 1.5rem;
    border-bottom: 0.2rem solid aliceblue;
}