body {
    display: flex;
    justify-content: space-between;
    background: #1A2980;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #3ffffc, #3b58ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #59fffc, #4662ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700|Source+Sans+Pro:300,400,600,700&display=swap");* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
}