$background-color: #2A9399;
$side-color: #1C5961;
$icon-color: aliceblue;
$icon-nav: #ffffff4b;
$icon-nav-toggle: rgba(0, 0, 0, 0.7);
$icon-hover: rgba(0,0,0,.5);
$margin: 0.8rem;
$left_side: 6.5rem;
$right_side: 50rem;
$task-max-width: calc($right_side - 3rem);
$primary-color: rgba(0, 0, 0, 0.877);
$secondary-color: aliceblue;